#topChartContainer, #bottomChartContainer{
    width: 100%;
    display: block;
}
#topChartContainer{
    height: 300px;
}
#bottomChartContainer{
    height: 100px;
}
body,html{
    background-color: #f2f2f2;
}

